body {
    background-color: #EAEDEE;
    font-family: "dfds-light";
    width: 100vw;
}

main{
    margin: 7em 0 0 0 ;
    
}

a{
    text-decoration: none;
    
}


h1{
    
    font-family: "dfds-bold";
    font-size:  5em;
    
    
}

button {
    
    border: none;
    text-decoration: none;
}
/*Titel*/

main section:nth-of-type(1){
    
    display: flex;
    justify-content: center;

}

/*********************/

/*Verder lezen section*/

main section:nth-of-type(2)>div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; 
    padding: 0 1em  0 1em;
    

}

/********************/

/*header*/

header img {
    height: 5em;
    
}

body > header {
    display: flex;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: white;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 0 2em;
    box-sizing: border-box;
    
}

/***********************/

/*navigatie*/

nav,
li {
    display: inline;
    margin-left: 1.4em;
}

/**********/



/*Padding tussen de sections*/

main section:nth-of-type(2) {
    padding: 3em 0 0 0;
}
main section:nth-of-type(3) {
    padding: 3em 0 0 0;
}
main section:nth-of-type(4) {
    padding: 1em 0 0 0;
}


/****************/

/*verder lezen titel */

section > h2{
    
   padding: 0 0 0.3em 0.3em;
    font-size: 3em;
    
}

/********************/

/*Alle blokken*/
section article {
    max-width: 30vw;
    background-color: #fff;
    padding-bottom: 1em;
}

/***************/

/*Header buttons*/
main section:nth-of-type(2)>div>article:nth-child(1)>header>button{
    background-color: rgb(246, 134, 31, 0.1);
    height: 4em;
    width: 4em;
    cursor: pointer;
    overflow: hidden;
    color: white
}
main section:nth-of-type(2)>div>article:nth-child(2)>header>button{
    background-color: #f6861f;
    height: 4em;
    width: 4em;
    cursor: pointer;
    overflow: hidden;
    color: white
}
main section:nth-of-type(2)>div>article:nth-child(3)>header>button{
    background-color: #f6861f;
    height: 4em;
    width: 4em;
    cursor: pointer;
    overflow: hidden;
    color: white
}


/*Headers in de verder lezen blokken*/
main section:nth-of-type(2)>div>article:nth-child(1)>header{
    
    background-image: url('vrst.jpg');
    background-size: cover;
    height: 10rem;
    
}

main section:nth-of-type(2)>div>article:nth-of-type(2) {
    width: 30vw;
    margin: 0 1em 0  1em;
}

main section:nth-of-type(2)>div>article:nth-child(2)>header{
    
    background-image: url('alzhmr.jpg');
    background-size: cover;
    height: 10rem;
    
    
}

main section:nth-of-type(2)>div>article:nth-child(3)>header{
    
    background-image: url('kndr.jpg');
    background-size: cover;
    height: 10rem;
    
    
}


/***********************************/

/*Tekst in alle blokken*/


article > div > p, h3   {
    
    padding: 0.5em;
}

h3{
    
     font-family: "dfds-bold";
    font-size:  1.2em;
    
    
}

/********************/

/*lezen Knoppen*/

article > div > footer > a {
    
    background-color: orange;
    color: white;
     padding: 0.5em;
}

/*************/

/*Footer blokken*/

article>div>footer{
    
    display: flex;
  justify-content: flex-end;
    margin-right: 0.5em;
    
}

/***************/

/*Search section */

main section:nth-of-type(3){
    display: flex;
    align-items:  center;
    height: 2px;
    margin-top: 20px;
    background-color: #fff;
    margin-left: 1em;
    margin-right: 1em;
}

main section:nth-child(3) :nth-child(1){
    width: 100%;
    margin-top: -15px;
    
}

main section:nth-child(3) :nth-child(2){
    
}
main section:nth-child(3) input{
     width: 50px!important;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: 0px solid #ccc;
    
}
main section:nth-child(3) input:focus{
    width: 60%!important;
    border: 2px solid #ccc;
    
}

/*******************/


.dropbtn {
    background-color: orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding:10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: orange;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


main section:nth-of-type(4)>div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; 
    padding: 0 1em  0 1em;
    box-sizing: border-box;
    

}

main section:nth-of-type(4)>div>article:nth-of-type(2) {
    width: 30vw;
    margin: 0 1em 0  1em;
}
main section:nth-of-type(4)>div>article:nth-of-type(3) {
    width: 30vw;
    margin: 0 1em 0  0em;
}

main section:nth-of-type(4)>div>article:nth-child(1)>header{
    
    background-image: url('vrst.jpg');
    background-size: cover;
    height: 10rem;
    
    
}

main section:nth-of-type(4)>div>article:nth-child(2)>header{
    
    background-image: url('alzhmr.jpg');
    background-size: cover;
    height: 10rem;
    
    
}

main section:nth-of-type(4)>div>article:nth-child(3)>header{
    
    background-image: url('kndr.jpg');
    background-size: cover;
    height: 10rem;
    
    
}

main section:nth-of-type(4)>div>article:nth-child(4)>header{
    
    background-image: url('kndr.jpg');
    background-size: cover;
    height: 10rem;
    
    
}



/*
.dropdown-content:hover{
    display: flex;
    flex-flow: row wrap;
}
*/
/*h1{
    
    margin-top: 1em;
    font-size: 7em;
    text-align: center;
     
}
nav,li{ 
float: right;
margin-left:1.4em;
    }

h1{
    
    font-family: "dfds-bold"
}

.verderlezen{
   
    width:25.5rem;
    
    
    
}

.zoek{
     width:100%;
    
  
}

.ontdek{
    
    height: 9em;
      float: left;
    
}

article{
    float: left;
}*/