header img {
    height: 5em;
    
}

body > header {
    display: flex;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: white;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 0 2em;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    
}

body {
    background-color: #EAEDEE;
    font-family: "dfds-light";
    width: 100vw;
}

nav, li {
    display: inline;
    margin-left: 1.4em;
}

h1{
    font-size: 2.828em;
font-family: "DFDS bold";
color: #002b45;
width: 100%;
height: 1em;
margin: 20vh 0 0.618em 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 0 0 10vh 0;
}