*{
    box-sizing: border-box;
}

main{
    display: flex;
    align-content: center;
    justify-content: center;
}

section{
    width: 30vw;
}

progress{
    width: 100%;
    position: fixed;
margin-top: 5em;
    left: 0;

}

h1{
    font-family: dfds-bold;
    font-size: 1.4em;
    margin-top: 5em;
}

p{
    font-family: dfds-light;
}




header  a {
    text-decoration: none;
    color: dimgray;
}

header a:hover {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

header img {
    height: 5em;
    
}

body > header {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    padding: 0 2em;
    box-sizing: border-box;
    
}

nav,
li {
    display: inline;
    margin-left: 1.4em;
}

a{
    font-family: dfds-light;
    text-decoration: none;
    
}

@media (max-width: 55em) {

   
    header > nav > ul {
        display: none;
    }
    
   header > img {
    display: block;
    height: 1em;
       
}
    
    header ul {
        display: none;
    }
    
    
    
    

    
}


@media (max-width: 35em) {

    header > nav > ul {
        display: none;
    }
    
   header > img {
    display: block;
    height: 2em;
       
}
    
    header ul {
        display: none;
    }
    
    main > section:nth-child(4) > div > article > div > footer  {
    padding-top: 1.8em
}
    
    main section:nth-child(1) h1{
   display: none;
}

}
